p {
<<<<<<< HEAD
	line-height: var(--wp--typography--line-height, var(--global--line-height-body));
=======
	line-height: var(--wp--typography--line-height, --global--line-height-body);
>>>>>>> 8adbba5df3c87832de0c756811c05091cf31f571

	&.has-background {
		padding: var(--global--spacing-unit);
	}
}
