p {

<<<<<<< HEAD
	line-height: var(--wp--typography--line-height, var(--global--line-height-body));
=======
	line-height: var(--wp--typography--line-height, --global--line-height-body);
>>>>>>> 8adbba5df3c87832de0c756811c05091cf31f571

	// inherits general font style set at <body>
	&.has-background {
		padding: var(--global--spacing-unit);
	}

	// Override `color: inherit` from Core styles.
	&.has-text-color a {
		color: var(--wp--style--color--link, var(--global--color-primary));
	}
}
