.wp-block-social-links {

	a:focus {
		color: var(--global--color-primary);
	}

	&.is-style-twentytwentyone-social-icons-color {

		a {
			color: var(--global--color-primary);
		}

<<<<<<< HEAD
		.wp-social-link,
		&.has-icon-background-color.has-icon-background-color .wp-social-link {
=======
		.wp-social-link {
>>>>>>> 8adbba5df3c87832de0c756811c05091cf31f571
			background: none;
		}

	}
}
